
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
   font-family: 'Open Sans', sans-serif;
}

html {
   background-color:	rgba(0,255,127, 0.25);
}

#start .bg h1 {
  text-align: center;
  /*color: #E3888A /*#FF7477;*/
  font-size: 11em;
  font-weight: bold;
  display: block;
}

.bg {
  background-color:	rgba(0,255,127, 0.25);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#start .bg {
   background-image: url("logo_transparent.png");
   justify-content: space-between;
   padding-top: 5em;
   padding-bottom: 5em;
}

#filter-form .bg {
   background-color: #f7f7f9;
   flex-direction: row;
   align-items: baseline;
   /* padding: 100px;*/
   padding: 2em;
}

#recipe-card .bg {
   flex-direction: row;
   background-color: #f7f7f9
}

body, html, main {
  height: 100%;
  margin: 0;
}

.buttons {
   width: 80%;
   display: flex;
   justify-content: space-between;
}

#start-button {
   font-size: 15em;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
}

#start button {
   font-size: 3em;
   width: 17%;
}



.hidden {
   display: none;

}

label.custom-control-label {
   font-size: 2em;
}

.card {
   margin-left: 1em;
   margin-right: 1em;
}

.card:hover {
   cursor: pointer;
}

#filter-form .jumbotron {
   display: flex;
   align-items: baseline;
   justify-content: space-around;
   margin-bottom: 0;
}

fieldset {
   margin: 5em;
   margin-top: 13em;
}

#legend {
   position: absolute;
   right: 5em;
   top: 5em;
   width: 15em;
}

.back-button {
   background-image: url("back-arrow.svg");
   background-repeat: no-repeat;
   position: absolute;
   left: 3em;
   top: 3em;
   width: 2.5em;
   height: 2.5em;
}

.back-button:hover {
   cursor: pointer;
}

#recipe-card img {
   width: 100%;
   margin-bottom: 10em;
   border: 1em gray solid;
   border-radius: 2em;
}

#recipe-card .jumbotron {
   display: flex;
   flex-direction: row;
   width: 90%;
   align-items: center;
   margin-bottom: 0;
   padding-bottom: 0;
}

#recipe-card .img-wrapper {
   flex-basis: 50%;
}

#recipe-card li {
   font-size: 2em;
}
