---
layout: default
title: teaching
---

<section>
  <h2 class="strong">teaching</h2>
  <small>lecturer, teaching assistant, and other teaching related work</small>
  <p>i currently teach computer science at the university of illinois chicago. this semester (spring 2025), i am teaching cs 301 (languages and automata) and cs 401 (computer algorithms 1).</p>
</section>

{% for school in site.data.courses %}
<section>
  <h3>{{ school.school }} ({{ school.start }} - {{ school.end}})</h3>
  {% for course in school.courses %}
      <p>
        <strong class="course">{{ course.name }}: {{ course.title }}</strong>
        
        {% if course.instructor %}
        <br>
          {% for item in course.offerings %}
            {% if item.role == "instructor" %}
              {% if item.recent %}
              {% else %}
              <span class="dot">•</span>
              {% endif %}
              {% if item.cotaught %}
                {% if item.link %}
                  <a href="{{ item.link }}" target="_blank">{{ item.name }}</a>{{ item.cosym }}
                {% else %}
                  <span>{{ item.name }}{{ item.cosym }}</span>
                {% endif %}
              {% else %}
                {% if item.link %}
                  <a href="{{ item.link }}" target="_blank">{{ item.name }}</a>
                {% else %}
                  <span>{{ item.name }}</span>
                {% endif %}
              {% endif %}
              
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if course.headta %}
          <br><em>head ta: </em>
          {% for item in course.offerings %}
            {% if item.role == "headta" %}
              {% if item.recent %}
              {% else %}
              <span class="dot">•</span>
              {% endif %}
              {% if item.link %}
                <a href="{{ item.link }}" target="_blank">{{ item.name }}</a>
              {% else %}
                <span>{{ item.name }} (no course site)</span>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if course.leadta %}
          <br><em>lead ta: </em>
          {% for item in course.offerings %}
            {% if item.role == "leadta" %}
              {% if item.recent %}
              {% else %}
              <span class="dot">•</span>
              {% endif %}
              {% if item.link %}
                <a href="{{ item.link }}" target="_blank">{{ item.name }}</a>
              {% else %}
                <span>{{ item.name }} (no course site)</span>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if course.ta %}
          <br><em>ta: </em>
          {% for item in course.offerings %}
            {% if item.role == "ta" %}
              {% if item.recent %}
              {% else %}
              <span class="dot">•</span>
              {% endif %}
              {% if item.link %}
                <a href="{{ item.link }}" target="_blank">{{ item.name }}</a>
              {% else %}
                <span>{{ item.name }} (no course site)</span>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if course.cotaught %}
        <br/>
          {% for item in course.coteachers %}
            <small>{{ item.symbol }} cotaught with {{ item.name }}</small><br/>
          {% endfor %}
        {% endif %}
      </p>
    {% endfor %}
</section>
{% endfor %}