<section>
  <p id="headline" class="bio">hello world! my name is omar. <br>i <a class="teaching-btn" href="teaching" class="link">teach</a> computer science, currently at the university of illinois chicago. this is a place i show what i've worked on.</p>
  
  {% include contacts.html %}
</section>

<section>
  <p>i am currently a lecturer for the department of computer science at the university of illinois at chicago.</p> 
  
  <p>previously, i earned my B.S. and M.S. degrees in Computer Science from the paul g. allen school of computer science at the university of washington in 2021 and 2023 respectively. while I was there, I helped teach computer science courses, taught my own courses, and completed my master's thesis on methods for teaching proof-writing advised by Robbie Weber and Lauren Bricker. I also am very anti capital letters, as you might be able to glean from this site.</p>

  <p>currently, i am teaching a number of cs theory courses at uic, and i help to manage our undergraduate ta program. i'm also deeply interested in work on embedding ethics into computer science curriculums.</p>

  <!-- <small><a class="about-btn" href="about">read more</a></small> -->
</section>

<section>
  <h3>meeting with me</h3>
  <p>please feel free to meet with me! i'm often busy, but i'm happy to make some time to meet with students.</p> 
  <p>if my door is open, feel free to pop in to chat! 
    if you'd like to set up a specific time to meet, please email me
    <!-- <a href="https://calendly.com/oibra-uic" class="link">use this link to schedule a 1-on-1 meeting with me</a> (please be as descriptive as you are comfortable being about why you want to mee). -->
  </p>

  <!-- <h6>my current office hours schedule:</h6>
  <small>current for spring 2025</small>
  <ul>
    <li>MWF 1-2pm (cs 301)</li>
    <li>Th 12-2pm (cs 401)</li>
    <li>F 2-3pm (cs 401)</li>
  </ul> -->
</section>

<section>
  <h3>everything else</h3>
  <ul>
      <li>are you a current student? all course information for cs 151 this semester (fall 2025) can be found on <a href="https://uic.blackboard.com/" target="_blank">blackboard</a>.</li>
      <li><strong>Interested in applying to teaching faculty positions?</strong> Access my <a id="tf-app-materials-btn" href="/tf-app-materials">application materials (from 2022) here</a>.</li>
  </ul>
</section>