<section>
  <h2 class="strong">teaching faculty application materials</h2>
  <small>last updated march 20, 2025</small>
  <p>if you've found this page, then you're probably interested in applying to a teaching faculty position. i applied for teaching faculty positions in 2022 for the 2023-24 academic year. hopefully, you find the info and materials here useful, particularly if you're applying without a phd.</p>

  <p>when i wrote my materials, i referenced the materials of a number of earlier ms-only teaching faculty, including kevin lin, suraj rampure, and adam blank. i also referenced the materials of some of my mentors who offered them to me. i've also referenced some of these peoples' websites in making my own materials available here.</p>

  <p>feel free to reach out to me if you wanna chat about the teaching faculty applciation process. i personally got a lot of benefit from discussing with others who went down this path when i was applying.</p>
  
  <p>if you're interested in pursuing teaching computer science without a phd, you might also be interested in <a href="https://adamblan.github.io/cs-ms-teaching-track/">this site</a>, which has been put together by a number of people in our commuinty of practice.</p>
</section>

<section>
  <p>
      <a href="/assets/files/teaching-cv.pdf">CV</a><br>
      i put all of my teaching activities at the top right at the top, followed by scholarship i was involved in, and then other professional experience/activities that were less relevant to my teaching.
  </p>
  <!-- <p>
      <a href="">Cover Letter</a><br>
      blah blah blah
  </p> -->
  <p>
      <a href="/assets/files/teaching-statement.pdf">Teaching Statement</a><br>
      the first time i tried to sum up what my teaching philosophy, i realized i had no idea what it was. luckily, i had some time before i had to write my teaching materials. thinking about my teaching philosophy as I taught more made it easier, as did reading other people's teaching statements. i've seen people structure these in some very different ways, but mine has a few overall sections covering general themes in my philosophy on teaching.
  </p>
  <p>
      <a href="/assets/files/diversity-statement.pdf">Diversity and Inclusion Statement</a><br>
      it ended up really being an extension of my teaching statement covering general themes in my philosophy on teaching that related particularly to fostering diversity and inclusion in my classroom. it's even formatted really similarly.
  </p>
</section>